/* light_peach: #DFD9C3;
light_green: #CDDBBE;
medium_green: #92ADA1;
medium_green2: #5B817F;
dark_green: #566664;  */

body {
    background-color: #566664;
    color: #DFD9C3;
    font-family: monospace;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3;
}

 /* unvisited link */
 a:link {
    text-decoration: none;
    color: #DFD9C3;
  }
  
  /* visited link */
  a:visited {
    text-decoration: none;
    color: #DFD9C3;
  }
  
  /* mouse over link */
  a:hover {
    text-decoration: none;
    color: #DFD9C3;
  }
  
  /* selected link */
  a:active {
    text-decoration: none;
    color: #DFD9C3;
  } 

h1 {
    font-family:cursive;
    text-align: center;

    grid-column: 2;
    grid-row: 1;
    max-width: 100%;
}

#formDiv {
    color: #000;
    background-color: #92ADA1;
    border: 5px solid #354644;
    padding: 2%;
    text-align: center;
    
    grid-column: 2;
    grid-row: 2;
    max-width: 100%;
}

#formTable {
    margin: 0 auto;
}

#characterDiv {
    grid-column: 2;
    grid-row: 3;
    max-width: 100%;
    margin-top: 25px;
}

#characterTable {
    text-align: center;
    margin: 0 auto;
}

button {
    background-color: #5B817F;
    border-color: #CDDBBE;
    color: #DFD9C3;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border-radius: 15px;
    margin: 10px;
}

table, th, td {
    border: 1px solid #92ADA1;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    text-align: center;
    text-decoration: double;
    text-shadow: #000;
    font-size: large;
    font-weight: bold;
}

tr:hover {
    background-color: #5B817F;
}

select {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
}

input {
    width: 91%;
    padding: 5px;
    border-radius: 4px;
}

form {
    margin: 0;
}

.labels {
    text-align: right;
}

.submitButton {
    text-align: center;
}

#left_vine {
    grid-column: 1;
    grid-row: 2;
    max-width: 25%;
    margin: auto;
}

#right_vine {
    grid-column: 3;
    grid-row: 2;
    max-width: 25%;
    margin: auto;
}

.frameImage {
    max-width: 100%;
    opacity: 0.5;;
}